.App {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  max-width: 320px;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.innerCell {
  border-color: #fff;
  border: 1px solid #ccc;
  font-weight: bold;
  vertical-align: middle;
  color: black;
  font-size: min(48px, 10vw);
  aspect-ratio: 1/1;
}

.innerCell:not(:disabled) {
  cursor: pointer;
}

.innerCell:not(:disabled):hover {
  background-color: #fafafa;
}
